/************************************************
/* SPECIFIC SUGGEST DEMO DEFAULT THEME STYLES   *
*************************************************/
.ftco-section {
	overflow: hidden;
}

.ftco-footer-widget li > a{
	text-transform: capitalize;
}

.ftco-footer-widget li > a > span{
	text-transform: none
}

/* Home responsive */
@media (max-width: 991.98px) {
	.lutece-section{
		margin-top: -40vh
	} 
	.lutece-section .img-coding{
		width: 60%
	} 
}

@media (max-width: 601px) {
	.lutece-section{
		margin-top: -30vh
	} 
}

/* Header Proposal */
.suggest-frame{
	position: relative;
	top: -30px;
}

.suggest-frame > h2{
	background-color: rgba(60, 103, 255, 0.9);
	padding: 15px 30px;
	color: #fff;
	font-size: 2rem;
	font-weight: 700;
	line-height: 3rem;
	display: inline-block;
}

/* List Aside	*/
.sidebar-box {
	padding: 0 25px;
}

.sidebar-box .search-form {
	background: transparent;
	padding: 0
}


.img-badge{
	width: 18px;
}

.card .desc{
min-height: 12vh;
}

/* Button  */
#proposal{
    position: fixed;
    bottom: 30px;
    right: 60px;
    z-index:9999
}

