<#include "minimal_header.html" />
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 py-5 justify-content-center">
                <div class="text-center ftco-animate fadeInUp ftco-animated">
                    <h1>${portal_domain}</h1>
                    <h2>#i18n{portal.site.popup_credits.pageTitle}</h2>
                    <p>#i18n{portal.site.popup_credits.labelVersion} : Lutece v ${app_version}</p>
                    <hr>   
                    #dskey{portal.site.site_property.popup_credits.textblock}
                    <hr>   
                    <p>
                        <a class="btn btn-primary btn-lg" href=".">
                            <i class="fa fa-remove"></i> #i18n{portal.site.popup_credits.close}
                        </a>
                    </p>
                 </div>
             </div>
        </div>
    </div>
</section>
<#include "minimal_footer.html" />